:root {
    --html-color: #ffffff;
    --bg-color-one: #d5e4f3;
    --bg-color-two: #ffffff;
    --invert-percentage: 0%;
    --text-color: #000000;
    --input-bg-color: #ffffff;
    --input-text-color: #000000;
    --input-border-color: #000000;
    --spice-color: #018ea7;
    --button-hover-percentage: 90%;
    --spice-visibility: hidden;
    --dropdown-selected-bg: #cecece;
}

html {
    background-color: var(--html-color);
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
}

.container {
    perspective: 3000px;
}

.card {
    width: 220px;
    height: 310px;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}

.card-back,
.card-front {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    backface-visibility: hidden;
    background: linear-gradient(to bottom left,
            var(--bg-color-one) 0%,
            var(--bg-color-two) 100%);
    transition: box-shadow 0.3s ease-in-out;
}

.card-front:hover,
.card-back:hover {
    box-shadow: 0px 0px 5px 0px #7b7e80;
    transition: box-shadow 0.2s ease-in-out;
}

.card-back {
    transform: rotateY(180deg);
}

.save-icon,
.settings-icon {
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    filter: invert(var(--invert-percentage));
}

.settings-icon {
    width: 15px;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(120deg);
    }
}

.save-icon {
    width: 20px;
}

h2 {
    align-self: center;
    margin: 10px 0px 5px 0px;
}

label {
    padding: 10px 0px 5px 0px;
}

select,
input {
    align-self: center;
    width: 100%;
    padding: 5px 5px;
    background-color: var(--input-bg-color);
    color: var(--input-text-color);
    border: 1px solid #363636;
    border-radius: 3px;
}

select:hover {
    cursor: pointer;
}

input {
    width: 95%;
}

.error-message {
    opacity: 0;
    color: #f65265;
    font-weight: 500;
    align-self: center;
    margin: 4px;
    padding: 0px;
    font-size: .8rem;
    animation: disappear 0.3s ease-in-out;
}

@keyframes disappear {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.error-message.appear {
    opacity: 1;
    animation: appear 0.3s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

button {
    align-self: center;
    padding: 10px;
    width: 95%;
    background-color: var(--input-bg-color);
    border: 1px solid #363636;
    transition: filter 0.2s ease-in-out;
    border-radius: 3px;
    color: var(--input-text-color);
}

button:hover {
    cursor: pointer;
    filter: brightness(var(--button-hover-percentage));
}

.horizontal-option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.horizontal-checkbox {
    width: 20px;
    padding: 0px;
    margin: 0px;
}

.colorPicker-button,
.colorPicker-label {
    visibility: var(--spice-visibility);
}

.colorPicker-button {
    flex: 0.5;
    margin: 10px 0px;
    padding: 0px;
    background-color: var(--spice-color);
    border-radius: 5px;
}

.colorPicker-text {
    opacity: 0;
}

.colorPicker {
    visibility: hidden;
    position: absolute;
    left: 1px;
    top: 190px;
    padding: 0px;
}

.horizontal-label {
    padding: 10px 0px 10px 0px;
}

.dropdown-container {
    position: relative;
}

.dropdown-content {
    position: absolute;
    background-color: var(--html-color);
    color: var(--input-text-color);
    max-height: 150px;
    overflow-y: auto;
    z-index: 1;
    width: 100%;
}

.dropdown-item {
    padding: 5px;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: var(--dropdown-selected-bg);
    font-weight: bold;
}

.selected {
    background-color: var(--dropdown-selected-bg);
    font-weight: bold;
}

.spice,
.spice2 {
    position: absolute;
    width: 1px;
    height: 0px;
    visibility: var(--spice-visibility);
    background: linear-gradient(to bottom,
            rgba(61, 188, 210, 0),
            var(--spice-color),
            rgb(61, 188, 210, 0));
}

.spice {
    left: calc(5% - 12px);
    bottom: 0px;
    transition: height 0.3s;
}

.spice2 {
    left: calc(95% + 12px);
    top: 0px;
    transition: height 0.3s;
}

.spice3 {
    position: absolute;
    left: 50%;
    bottom: -1px;
    height: 1px;
    width: 0px;
    visibility: var(--spice-visibility);
    background: linear-gradient(to right,
            rgba(61, 188, 210, 0),
            var(--spice-color),
            rgb(61, 188, 210, 0));
    transition: width 0.5s, left 0.5s;
}

button:hover+.spice3 {
    width: 100px;
    left: calc(50% - 50px);
}

.card:hover .spice {
    height: 150px;
    animation: jump-up 3s ease-in-out;
}

.card:hover .spice2 {
    height: 150px;
    animation: fall-down 3s ease-in-out;
}

@keyframes jump-up {
    0% {
        bottom: 0px;
    }

    60% {
        bottom: calc(40% - 75px);
    }

    95% {
        bottom: calc(25% - 75px);
    }

    100% {
        bottom: calc(30% - 75px);
    }
}

@keyframes fall-down {
    0% {
        top: 0px;
    }

    60% {
        top: calc(40% - 75px);
    }

    95% {
        top: calc(25% - 75px);
    }

    100% {
        top: calc(30% - 75px);
    }
}
